<%- include part/header.ejs %>

<style>body{overflow:hidden;}</style>

<div class="inner" style="text-align:center;margin-top:180px;">

	<a href="/contribute/form"><button type="button" class="btn btn-primary btn-lg">Complete Survey</button></a><br/>
	<h3>OR</h3>
	<a href="/contribute/cv"><button type="button" class="btn btn-primary btn-lg">Upload CV</button></a><br/>
	<h3>OR</h3>
	<a href="/contribute/linkedin"><button type="button" class="btn btn-primary btn-lg">Connect with LinkedIn</button></a>
</div>

<%- include part/footer.ejs %>