<%- include part/header.ejs %>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>What do you want to be?</h1>
                <hr>
                 <div class="col-lg-8 col-lg-offset-2">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Unsure about what you want to be?</a>
            </div>
        </div>
    </header>

<%- include part/footer.ejs %>