<%- include part/header.ejs %>

<div style="width:100%;margin-top:60px;height:110px;background:#FFEE33;padding:2px;text-align:center;">
    <h2><strong><a style="color:#0033cc" href="https://www.ubisoft.com/en-GB/" target="_blank">Ubisoft</a></strong> wants you to know about becoming <%= data.pre %> <strong><%= data.title %></strong>...</h2>
    <h4>They are always on the lookout for people to work with them. Head over to <a target="_blank" style="color:#0033cc" href="https://www.ubisoft.com/en-US/careers/experience.aspx">their website</a> to check out what is available.</h4>
</div>

<div class="inner" style="margin-top:40px;">
<div class="ui link cards" style="margin-left:auto;margin-right:auto;">
  <div class="card">
    <div class="image">
      <img src="/img/John_Carmack.png">
    </div>
    <div class="content">
      <div class="header">John Carmack</div>
      <div class="meta">
        <a>Age: 48</a>
      </div>
      <div class="description">
        John D. Carmack is an American game programmer and the co-founder of Id Software. Carmack was the lead programmer of the Id video games Commander Keen, Wolfenstein 3D, Doom, Quake, Rage and their sequels.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        54%
      </span>
      <span>
        <i class="user icon"></i>
        University
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/img/Kellee_Santiago.jpg">
    </div>
    <div class="content">
      <div class="header">Kellee Santiago</div>
      <div class="meta">
        <span class="date">Age: 38</span>
      </div>
      <div class="description">
        Kellee Santiago is a video game designer and producer, and the co-founder and former president of Thatgamecompany.
      </div>
    </div>
    <div class="extra content">
    	<span class="right floated">
        25%
      </span>
      <span>
        <i class="user icon"></i>
        Apprenticeship
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/img/Satoru_Iwata.jpg">
    </div>
    <div class="content">
      <div class="header">Satoru Iwata</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Satoru Iwata is a Japanese businessman and programmer. Iwata is the fourth president and CEO of Nintendo Co., Ltd., and CEO of Nintendo of America.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>
   <div class="card">
    <div class="image">
      <img src="/img/elon.jpg">
    </div>
    <div class="content">
      <div class="header">Elon Musk</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Elon Musk is a Canadian-American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors, and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Inc., Tesla Motors, and Zip2.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>  <div class="card">
    <div class="image">
      <img src="/img/elon.jpg">
    </div>
    <div class="content">
      <div class="header">Elon Musk</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Elon Musk is a Canadian-American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors, and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Inc., Tesla Motors, and Zip2.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>  <div class="card">
    <div class="image">
      <img src="/img/elon.jpg">
    </div>
    <div class="content">
      <div class="header">Elon Musk</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Elon Musk is a Canadian-American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors, and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Inc., Tesla Motors, and Zip2.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>  <div class="card">
    <div class="image">
      <img src="/img/elon.jpg">
    </div>
    <div class="content">
      <div class="header">Elon Musk</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Elon Musk is a Canadian-American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors, and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Inc., Tesla Motors, and Zip2.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>  <div class="card">
    <div class="image">
      <img src="/img/elon.jpg">
    </div>
    <div class="content">
      <div class="header">Elon Musk</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Elon Musk is a Canadian-American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors, and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Inc., Tesla Motors, and Zip2.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>  <div class="card">
    <div class="image">
      <img src="/img/elon.jpg">
    </div>
    <div class="content">
      <div class="header">Elon Musk</div>
      <div class="meta">
        <a>Age: 43</a>
      </div>
      <div class="description">
        Elon Musk is a Canadian-American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors, and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Inc., Tesla Motors, and Zip2.
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
        21%
      </span>
      <span>
        <i class="user icon"></i>
        Independent
      </span>
    </div>
  </div>
</div>
</div>


<%- include part/footer.ejs %>