<%- include part/header.ejs %>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css">
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<div class="inner" style="margin-top:10px;">
	<center><h3>Graduate based table for <strong>Game Developers</strong>.</h3></center>
</div>

<div class="inner" id="demo"></div>

<script>
var dataSet = [
    ['1','10','University of Southampton','£120,000','&#8594;'],
    ['2','9','University of Warwick','£110,000','&#8594;'],
    ['3','8','York University','£100,000','&#8594;'],
    ['4','7','University of Cambridge','£90,000','&#8594;'],
    ['6','6','Coventry University','£80,000','&#8594;'],
    ['7','5','UCL','£70,000','&#8594;'],
    ['8','4','Abertay University','£60,000','&#8594;'],
    ['9','3','University of Birmingham','£50,000','&#8594;'],
    ['9','2','University of Bristol','£40,000','&#8594;'],
    ['10','1','Southampton Solent','£30,000','&#8594;']
];
 
$(document).ready(function() {
    $('#demo').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>' );
 
    $('#example').dataTable( {
        "data": dataSet,
        "columns": [
            { "title": "2015 #" },
            { "title": "2014 #" },
            { "title": "University" },
            { "title": "Average Graduate Salary", "class": "center" },
            { "title": "More information", "class": "right" }
        ]
    } );   
});
</script>

<%- include part/footer.ejs %>